<!--CARRUSEL-->

       

       

       
       <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://www.impulse.bo/pub/media/wysiwyg/BANNER-IMPULSE-HARDWEAR-1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://www.impulse.bo/pub/media/wysiwyg/BANNER_550_HOMBRE_1_.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://www.impulse.bo/pub/media/wysiwyg/BANNER_550_MUJER_1_.jpg" class="d-block w-100" alt="...">
          </div>  
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
 <!--BLOQUE DE OFERTAS-->

 <div class="gallery-container">
    <!-- Repite este bloque para cada zapatilla  1-->
    <div class="sneaker-card">
      <img class="sneaker-image" src="https://imagedelivery.net/4fYuQyy-r8_rpBpcY7lH_A/falabellaCO/72933450_1/w=1500,h=1500" alt="Nombre del Modelo">
      <p class="sneaker-name">Nike Quest 5</p>
      <p class="sneaker-price">zapatilla para hombre</p>
      <p class="sneaker-price">$Precio  Bs 299</p>
      <div class="discount-tag"></div>
    </div>
    <!-- 2 -->
    <div class="sneaker-card">
        <img class="sneaker-image" src="https://imagedelivery.net/4fYuQyy-r8_rpBpcY7lH_A/falabellaCO/72783964_1/w=1500,h=1500" alt="Nombre del Modelo">
        <p class="sneaker-name">Tenis Nike </p>
        <p class="sneaker-price">para Mujer Running Downshifter 12</p>
        <p class="sneaker-price">$Precio  Bs 269</p>
        <div class="discount-tag">-XX%</div>
      </div>
     <!-- 3 -->
     <div class="sneaker-card">
        <img class="sneaker-image" src="https://imagedelivery.net/4fYuQyy-r8_rpBpcY7lH_A/falabellaCO/72832969_1/w=1500,h=1500" alt="Nombre del Modelo">
        <p class="sneaker-name">Zapatillas Nike Quest 5 </p>
        <p class="sneaker-price">Tenis Nike para Mujer </p>
        <p class="sneaker-price">$Precio Bs 319</p>
        <div class="discount-tag">-XX%</div>
      </div>
       <!-- 4 -->
       <div class="sneaker-card">
        <img class="sneaker-image" src="https://imagedelivery.net/4fYuQyy-r8_rpBpcY7lH_A/falabellaCO/72783178_1/w=1500,h=1500" alt="Nombre del Modelo">
        <p class="sneaker-name">Tenis Hoka  </p>
        <p class="sneaker-price">para Mujer Running Clifton 9</p>
        <p class="sneaker-price">$Precio  Bs 299</p>
        <div class="discount-tag">-XX%</div>
      </div>
       <!-- 5  NIÑOS-->
       <div class="sneaker-card">
        <img class="sneaker-image" src="https://imagedelivery.net/4fYuQyy-r8_rpBpcY7lH_A/falabellaCO/72923155_2/w=1500,h=1500" alt="Nombre del Modelo">
        <p class="sneaker-name">Tenis moda Puma Future Rider Splash Ps </p>
        <p class="sneaker-price">para Niña</p>
        <p class="sneaker-price">$Precio  Bs 199</p>
        <div class="discount-tag">-XX%</div>
      </div>
       <!-- 6 -->
       <div class="sneaker-card">
        <img class="sneaker-image" src="https://imagedelivery.net/4fYuQyy-r8_rpBpcY7lH_A/falabellaCO/58144963_0/w=1500,h=1500" alt="Nombre del Modelo">
        <p class="sneaker-name">Tenis Converse Ctas Eva Lift  </p>
        <p class="sneaker-price">para Niño</p>
        <p class="sneaker-price">$Precio  Bs 199</p>
        <div class="discount-tag">-5%</div>
      </div>
       <!-- 7 -->
       <div class="sneaker-card">
        <img class="sneaker-image" src="https://imagedelivery.net/4fYuQyy-r8_rpBpcY7lH_A/falabellaCO/72794552_0/w=1500,h=1500" alt="Nombre del Modelo">
        <p class="sneaker-name">Tenis Skechers Nitrosprint Lilsprin  </p>
        <p class="sneaker-price">para Niño Velcro</p>
        <p class="sneaker-price">$Precio  Bs 209</p>
        <div class="discount-tag">-XX%</div>
      </div>
       <!-- 8 -->
       <div class="sneaker-card">
        <img class="sneaker-image" src="https://imagedelivery.net/4fYuQyy-r8_rpBpcY7lH_A/falabellaCO/72881969_0/w=1500,h=1500" alt="Nombre del Modelo">
        <p class="sneaker-name">Guayos Adidas  </p>
        <p class="sneaker-price">para Niño pasto Sintético </p>
        <p class="sneaker-price">$Precio  Bs 219</p>
        <div class="discount-tag">-XX%</div>
      </div>
       <!-- 9 -->
       <div class="sneaker-card">
        <img class="sneaker-image" src="https://www.impulse.bo/pub/media/catalog/product/cache/df95ea29428d199c7235258847d8b822/l/q/lq59ipa75_-_1.jpg" alt="Nombre del Modelo">
        <p class="sneaker-name">Polera de Mujer</p>
        <p class="sneaker-price">  Ls Boat Neck Lee Charcoal</p>
        <p class="sneaker-price">$Precio  Bs 149</p>
        <div class="discount-tag">-XX%</div>
      </div>
       <!-- 10 -->
       <div class="sneaker-card">
        <img class="sneaker-image" src="https://www.impulse.bo/pub/media/catalog/product/cache/df95ea29428d199c7235258847d8b822/1/0/10024966-839-1.jpg" alt="Nombre del Modelo">
        <p class="sneaker-name">Polera de mujer</p>
        <p class="sneaker-price">Let'S Grow Sneaker Tee Cheeky Coral </p>
        <p class="sneaker-price">$Precio  Bs 209</p>
        <div class="discount-tag">-XX%</div>
      </div>
       <!-- 11 -->
       <div class="sneaker-card">
        <img class="sneaker-image" src="https://www.impulse.bo/pub/media/catalog/product/cache/df95ea29428d199c7235258847d8b822/1/0/10024966-102-1.jpg" alt="Nombre del Modelo">
        <p class="sneaker-name">Polera Mujer </p>
        <p class="sneaker-price"> Let'S Grow Sneaker Tee White</p>
        <p class="sneaker-price">$Precio  Bs 199</p>
        <div class="discount-tag">-XX%</div>
      </div>
       <!-- 12 -->
       <div class="sneaker-card">
        <img class="sneaker-image" src="https://www.impulse.bo/pub/media/catalog/product/cache/df95ea29428d199c7235258847d8b822/d/p/dp2p3028-bsv.jpg" alt="Nombre del Modelo">
        <p class="sneaker-name">Calza ligrado para Mujer</p>
        <p class="sneaker-price"> DKNY Logo High Waist Black Silver</p>
        <p class="sneaker-price">$Precio  Bs 99</p>
        <div class="discount-tag">-XX%</div>
      </div>
       <!-- 13 -->
       <div class="sneaker-card">
        <img class="sneaker-image" src="https://imagedelivery.net/4fYuQyy-r8_rpBpcY7lH_A/falabellaCO/72846872_1/w=1500,h=1500" alt="Nombre del Modelo">
        <p class="sneaker-name">Bicicleta todoterreno</p>
        <p class="sneaker-price"> Rin 29 pulgadas Jeep lhotse1.V21</p>
        <p class="sneaker-price">$Precio  Bs 3270</p>
        <div class="discount-tag">-10%</div>
      </div>
       <!-- 14 -->
       <div class="sneaker-card">
        <img class="sneaker-image" src="https://imagedelivery.net/4fYuQyy-r8_rpBpcY7lH_A/falabellaCO/124498411_01/w=1500,h=1500" alt="Nombre del Modelo">
        <p class="sneaker-name">Camiseta Manga Larga</p>
        <p class="sneaker-price">para Hombre</p>
        <p class="sneaker-price">$Precio  Bs 199</p>
        <div class="discount-tag">-XX%</div>
      </div>
       <!-- 15 -->
       <div class="sneaker-card">
        <img class="sneaker-image" src="https://imagedelivery.net/4fYuQyy-r8_rpBpcY7lH_A/falabellaCO/11786502_1/w=1500,h=1500" alt="Nombre del Modelo">
        <p class="sneaker-name">Chaqueta de ciclismo</p>
        <p class="sneaker-price">Chaquetas para Hombre</p>
        <p class="sneaker-price">$Precio  Bs 299</p>
        <div class="discount-tag">-XX%</div>
      </div>
       <!-- 16 -->
       <div class="sneaker-card">
        <img class="sneaker-image" src="https://imagedelivery.net/4fYuQyy-r8_rpBpcY7lH_A/falabellaCO/72852458_1/w=1500,h=1500" alt="Nombre del Modelo">
        <p class="sneaker-name">Bicicleta todoterreno </p>
        <p class="sneaker-price"> Rin 27.5 pulgadas Benotto acero, Bicicleta montaña</p>
        <p class="sneaker-price">$Precio  Bs 1699</p>
        <div class="discount-tag">-10%</div>
      </div>
</div>
<!-- ... -->
 <!--CARRUSEL-->