<footer class="footer">
    <ul class="social-icons">
        <li><a href="https://www.facebook.com/tuUsuario"><img src="https://upload.wikimedia.org/wikipedia/commons/b/b9/2023_Facebook_icon.svg" alt="Facebook"></a></li>
        <li><a href="https://twitter.com/tuUsuario"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/Logo_of_Twitter.svg/800px-Logo_of_Twitter.svg.png" alt="Twitter"></a></li>
        <li><a href="https://www.youtube.com/tuUsuario"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/YouTube_social_white_square_%282017%29.svg/800px-YouTube_social_white_square_%282017%29.svg.png" alt="YouTube"></a></li>
        <li><a href="https://www.tiktok.com/@tuUsuario"><img src="https://img.freepik.com/psd-gratis/tiktok-logo-3d-icono-redes-sociales-aislado_47987-11970.jpg?w=740&t=st=1718062239~exp=1718062839~hmac=5a0ff35335e2cb9dc8260b4bdbb85f6862310fc590030f16eb9741a572080327" alt="TikTok"></a></li>
      </ul>
    <div class="footer-container">
        <p>&copy;  Tienda Deportiva 2024</p>
        <p>Autor: Josue B. Chino Quispe</p>
        <p> Proyecto final</p>
        <nav>
            <a href="#">Inicio</a>
        </nav>
    </div>
   
</footer>